<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="{{static_root}}/img/favicon.ico?v=1" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{static_root}}/css/index.css" />
	<link rel="stylesheet" type="text/css" href="{{static_root}}/css/flat.css" />
	<link rel="stylesheet" type="text/css" href="{{static_root}}/css/green.css" />

	<title>
		EVO-Monitor
	</title>
</head>
<body  unselectable="on" style="-moz-user-select:none;-webkit-user-select:none;" onselectstart="return false;">
	<!-- DESK TOP begin -->
	<div id="divDeskTop" class="div-Dest-Top">
		<div id="divDTLeftTop" class="div-DT-Left-Top">
			<div id="divDTMainLogoArea" class="div-DT-Main-Logo-Area">
				<div id="divMLAProjectName" class="div-MLA-Project-Name">
					EVO-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;onitor
					<img src="{{static_root}}/img/m.png" id="imgMLAProjectLogo" class="img-MLA-Project-Logo">
				</div>
				<div id="divMLACompanyName" class="div-MLA-Company-Name">China&nbsp;Etek&nbsp;&nbsp;Service</div>
			</div>
			<div id="divDTMainInfoArea" class="div-DT-Main-Info-Area">
				<div id="divMIALeft" class="div-MIA-Left">
					<div id="divMIANumberDataArea" class="div-MIA-Number-Data-Area">
						<div id="divNDAFunctionalNumber" class="div-NDA-Functional-Number">
							
						</div>
						<div id="divNDARight" class="div-NDA-Right">
							<div id="divNDATotal" class="div-NDA-Total">
								
							</div>
							<div id="divNDARightStaticText" class="div-NDA-Right-Static-Text">
								
							</div>
						</div>
					</div>
					<div id="divMIAStaticText" class="div-MIA-Static-Text">台设备正常运行</div>
				</div>
				<div id="divMIAChart" class="div-MIA-Chart"></div>
				<div id="divMIAChartText" class="div-MIA-Chart-Text">
					
				</div>
				<div id="divMIAChartTextStatic" class="div-MIA-Chart-Text-Static">
					设备正常率
				</div>
			</div>
		</div>
		<div id="divDTTimeChartArea" class="div-DT-Time-Chart-Area"></div>
		<div id="divDTIconArea" class="div-DT-Icon-Area">
			<div id="divAlertListIcon" class="div-DT-Icon">
				<img src="{{static_root}}/img/alert.png" class="img-DT-Icon-bg">
				<div id="" class="div-DT-Icon-label">告警列表</div>
				<div id="divAlertListIconChartInfo" class="div-DT-Icon-chart-Info">31个告警</div>
			</div>
			<div id="divAppMonitorIcon" class="div-DT-Icon">
				<img src="{{static_root}}/img/app.png" class="img-DT-Icon-bg">
				<div id="" class="div-DT-Icon-label">应用监控</div>
				<div id="divAppMonitorIconChart" class="div-DT-Icon-chart"></div>
				<div id="divAppMonitorIconChartInfo" class="div-DT-Icon-chart-Info">18%<br>异常</div>
			</div>
			<div id="divEquipmentInfoIcon" class="div-DT-Icon">
				<img src="{{static_root}}/img/equipment.png" class="img-DT-Icon-bg">
				<div id="" class="div-DT-Icon-label">设备详细</div>
			</div>
			<!--
			<div id="divFavoritesIcon" class="div-DT-Icon">
				<img src="img/favorites.png" class="img-DT-Icon-bg">
				<div id="" class="div-DT-Icon-label">收藏夹</div>
				<div id="divFavoritesIconChart" class="div-DT-Icon-chart"></div>
				<div id="divFavoritesIconChartInfo" class="div-DT-Icon-chart-Info">2%<br>异常</div>
			</div>
			-->
			<div id="divSettingIcon" class="div-DT-Icon">
				<img src="{{static_root}}/img/setting.png" class="img-DT-Icon-bg">
				<div id="" class="div-DT-Icon-label">设置</div>
			</div>
			<!-- 
				<div id="divAuthorityIcon" class="div-DT-Icon">
				<img src="img/authority.png" class="img-DT-Icon-bg">
				<div id="" class="div-DT-Icon-label">权限管理</div>
				</div>
			-->
			
		</div>

		<div id="divDTAlertListArea" class="div-DT-Alert-List-Area">
			<div id="divDTAlertListAreaMainTitle" class="div-DT-Alert-List-Area-Main-Title">
					当前告警列表
			</div>
			<div id="divDTAlertListAreaMain" class="div-DT-Alert-List-Area-Main"></div>
			<div id="divDTAlertListAreaSub" class="div-DT-Alert-List-Area-Sub">
			</div>
		</div>
		<div id="divDTSortChartArea" class="div-DT-Sort-Chart-Area">
			<div id="" class="div-DT-Sort-Chart-Main-Title">
					分类总览
			</div>
			<div id="divDTSortMainChartArea" class="div-DT-Sort-Main-Chart-Area">
			</div>
			<div id="divDTSortSubChartArea" class="div-DT-Sort-Sub-Chart-Area">
			</div>
		</div>
	</div>
	<!-- DESK TOP end -->
	<div id="divWindowAlertList" class="div-Window">
		<div id="divWindowAlertListTitle" class="div-Window-Title">
			<div id="divWindowAlertListTitleText" class="div-Window-Title-Text">告警列表</div>
			<div id="divWindowAlertListTitleClose" class="div-Window-Title-Close">╳</div>
		</div>
		<div id="divWindowAlertListDetail" class="div-Window-Detail">
			<div id="divWindowAlertToolbar" class="div-Window-Alert-Toolbar">
				<div id="divWindowAlertToolbarLevel" class="div-Window-Alert-Toolbar-Level">等级 ▼</div>
				<div id="divWindowAlertToolbarEquipment" class="div-Window-Alert-Toolbar-Equipment">设备&nbsp;&nbsp;&nbsp;</div>
				<div id="divWindowAlertToolbarStartTime" class="div-Window-Alert-Toolbar-Start-Time">发生时间&nbsp;&nbsp;&nbsp;</div>
				<div id="divWindowAlertToolbarDuration" class="div-Window-Alert-Toolbar-Duration">持续时间&nbsp;&nbsp;&nbsp;</div>
				<div id="divWindowAlertToolbarInfo" class="div-Window-Alert-Toolbar-Info">详细信息&nbsp;&nbsp;&nbsp;</div>
			</div>

			<div id="divWindowAlertMain" class="div-Window-Alert-Main"></div>
			<div id="divWindowAlertFooter" class="div-Window-Alert-Footer">
				<div id="divWindowAlertFooterFirstPage" class="div-Window-Alert-Footer-First-Page"><u>第一页</u></div>
				<div id="divWindowAlertFooterPrevPage" class="div-Window-Alert-Footer-Prev-Page" ><u>前一页</u></div>
				<div id="divWindowAlertFooterUserPage" class="div-Window-Alert-Footer-User-Page" >1</div>
				<div id="divWindowAlertFooterSplit" class="div-Window-Alert-Footer-Split" >/</div>
				<div id="divWindowAlertFooterAllPage" class="div-Window-Alert-Footer-All-Page" >?</div>
				<div id="divWindowAlertFooterNextPage" class="div-Window-Alert-Footer-Next-Page" ><u>后一页</u></div>
				<div id="divWindowAlertFooterLastPage" class="div-Window-Alert-Footer-Last-Page" ><u>最后页</u></div>
				<div id="divWindowAlertFooterPageInfo" class="div-Window-Alert-Footer-Page-Info" ></div>
				<div id="divWindowAlertFooterFilter" class="div-Window-Alert-Footer-Filter" >
					<div id="divFilterTitle" class="div-Filter-Title">过滤</div>
					<div id="divFilterClose" class="div-Filter-Close">╳</div>
					<div id="divFilterDetail" class="div-Filter-Detail"></div>
				</div>
			</div>
			<div id="divWindowAlertFooterCover" class="div-Window-Alert-Footer-Cover">
			<div id="divWindowAlertToolbarCover" class="div-Window-Alert-Toolbar-Cover"></div>
			</div>
		</div>
	</div>

	<div id="divWindowAppMonitor" class="div-Window">
		<div id="divWindowAppMonitorTitle" class="div-Window-Title">
			<div id="divWindowAppMonitorTitleText" class="div-Window-Title-Text">应用监控</div>
			<div id="divWindowAppMonitorTitleClose" class="div-Window-Title-Close">╳</div>
		</div>
		<div id="divWindowAppMonitorDetail" class="div-Window-Detail">
			<div id="divWindowAppMonitorDetailSide" class="div-Window-Detail-Side">
				<div id="divAppMonitorAllButton" class="div-App-Monitor-All-Button">
					应用可用统计
				</div>
				<ul id="ulWindowAppMonitorDetailSide" class="ul-Window-Detail-Side"></ul>
			</div>
			<div id="divWindowAppMonitorDetailMainAll" class="div-Window-App-Monitor-Detail-Main-All">
				<div id="divAppMonitorDetailMainTop" class="div-App-Monitor-Detail-Main-Top">
					<div id="divWindowAppMonitorDetailMainAllLabel" class="div-Window-App-Monitor-Detail-Main-All-Label"></div>
					<div id="divAppMonitorDetailMainTopAllChartLevel4Label" class="div-App-Monitor-Detail-Main-Top-All-Chart-Level4-Label">严重</div>
					<div id="divAppMonitorDetailMainTopAllChartLevel3Label" class="div-App-Monitor-Detail-Main-Top-All-Chart-Level3-Label">普通</div>
					<div id="divAppMonitorDetailMainTopAllChartLevel2Label" class="div-App-Monitor-Detail-Main-Top-All-Chart-Level2-Label">警告</div>
					<div id="divAppMonitorDetailMainTopAllChartLevel1Label" class="div-App-Monitor-Detail-Main-Top-All-Chart-Level1-Label">消息</div>
					<div id="divAppMonitorDetailMainTopAllChart" class="div-App-Monitor-Detail-Main-Top-All-Chart"></div>
					<div id="divAppMonitorDetailMainTopRight" class="div-App-Monitor-Detail-Main-Top-Right">
						<div id="divAppMonitorDetailMainTopRightChart" class="div-App-Monitor-Detail-Main-Top-Right-Chart">
							<div id="divAppMonitorDetailMainTopAllChartLevel4" class="div-App-Monitor-Detail-Main-Top-All-Chart-Level"></div>
							<div id="divAppMonitorDetailMainTopAllChartLevel3" class="div-App-Monitor-Detail-Main-Top-All-Chart-Level"></div>
							<div id="divAppMonitorDetailMainTopAllChartLevel2" class="div-App-Monitor-Detail-Main-Top-All-Chart-Level"></div>
							<div id="divAppMonitorDetailMainTopAllChartLevel1" class="div-App-Monitor-Detail-Main-Top-All-Chart-Level"></div>
						</div>
						<div id="divAppMonitorDetailMainTopRightInfo" class="div-App-Monitor-Detail-Main-Top-Right-Info">
							<div id="divAppMonitorInfoAll" class="div-App-Monitor-Info-All"></div>
							<div id="divAppMonitorInfoOk" class="div-App-Monitor-Info-Ok"></div>
							<div id="divAppMonitorInfoError" class="div-App-Monitor-Info-Error"></div>
						</div>
					</div>
					<div id="divAppMonitorDetailMainTopAllChartText" class="div-App-Monitor-Detail-Main-Top-All-Chart-Text"></div>
				</div>
				<div id="divAppMonitorDetailMainBottom" class="div-App-Monitor-Detail-Main-Bottom"></div>
			</div>
			<div id="divWindowAppMonitorDetailMainAppDetail" class="div-Window-App-Monitor-Detail-Main-App-Detail">
				<div id="divAppName" class="div-App-Name green-color"></div>
				<!--<div id="divAppNameInfo" class="div-App-Name-Info div-App-Name-Info-Error">存在2项错误</div>-->
				<div id="divAppTimeChart" class="div-App-Time-Chart">
					<div id="divAppTimeChartTitle" class="div-App-Time-Chart-Title">
						<span id="divAppTimeChartTitleLabel" class="div-App-Time-Chart-Title-Label">应用可用性</span>
						<div id="divAppTimeChartTitleEgOk" class="div-App-Time-Chart-Title-Eg-Ok"></div>
						<div id="divAppTimeChartTitleEgOkLabel" class="div-App-Time-Chart-Title-Eg-Ok-Label">正常时段</div>
						<div id="divAppTimeChartTitleEgError" class="div-App-Time-Chart-Title-Eg-Error"></div>
						<div id="divAppTimeChartTitleEgErrorLabel" class="div-App-Time-Chart-Title-Eg-Error-Label">存在错误时段</div>
					</div>
					<div id="divAppTimeChartDataToday" class="div-App-Time-Chart-Data"></div>
					<div id="divAppTimeChartLabel" class="div-App-Time-Chart-Label">
						<div class="div-App-Time-Chart-Label-Sub">今天</div>
						<div class="div-App-Time-Chart-Label-Sub">2:00</div>
						<div class="div-App-Time-Chart-Label-Sub">4:00</div>
						<div class="div-App-Time-Chart-Label-Sub">6:00</div>
						<div class="div-App-Time-Chart-Label-Sub">8:00</div>
						<div class="div-App-Time-Chart-Label-Sub">10:00</div>
						<div class="div-App-Time-Chart-Label-Sub">12:00</div>
						<div class="div-App-Time-Chart-Label-Sub">14:00</div>
						<div class="div-App-Time-Chart-Label-Sub">16:00</div>
						<div class="div-App-Time-Chart-Label-Sub">18:00</div>
						<div class="div-App-Time-Chart-Label-Sub">20:00</div>
						<div class="div-App-Time-Chart-Label-Sub">22:00</div>
					</div>
					<div id="divAppTimeChartDataYesterday" class="div-App-Time-Chart-Data"></div>
					<div id="divAppTimeChartLabel" class="div-App-Time-Chart-Label">
						<div class="div-App-Time-Chart-Label-Sub">昨天</div>
						<div class="div-App-Time-Chart-Label-Sub">2:00</div>
						<div class="div-App-Time-Chart-Label-Sub">4:00</div>
						<div class="div-App-Time-Chart-Label-Sub">6:00</div>
						<div class="div-App-Time-Chart-Label-Sub">8:00</div>
						<div class="div-App-Time-Chart-Label-Sub">10:00</div>
						<div class="div-App-Time-Chart-Label-Sub">12:00</div>
						<div class="div-App-Time-Chart-Label-Sub">14:00</div>
						<div class="div-App-Time-Chart-Label-Sub">16:00</div>
						<div class="div-App-Time-Chart-Label-Sub">18:00</div>
						<div class="div-App-Time-Chart-Label-Sub">20:00</div>
						<div class="div-App-Time-Chart-Label-Sub">22:00</div>
					</div>
				</div>
				<div id="divAppMonitorInfo" class="div-App-Monitor-Info">
					<div id="divAppMonitorInfoTitle" class="div-App-Monitor-Info-Title">当前监控项状态</div>
					<ul id="ulAppMonitorInfo" class="ul-App-Monitor-Info">
						<li class="li-App-Monitor-Info">
							<div class="div-App-Monitor-Info-Status div-App-Monitor-Info-Status-Ok">正常</div>
							<div class="div-App-Monitor-Info-type">URL</div>
							<div class="div-App-Monitor-Info-Detail">https://192.168.1.232/Demo/Project</div>
						</li>
						<li class="li-App-Monitor-Info">
							<div class="div-App-Monitor-Info-Status div-App-Monitor-Info-Status-Error">错误</div>
							<div class="div-App-Monitor-Info-type">URL</div>
							<div class="div-App-Monitor-Info-Detail">https://192.168.1.232/Release/Project</div>
						</li>
						<li class="li-App-Monitor-Info">
							<div class="div-App-Monitor-Info-Status div-App-Monitor-Info-Status-Error">错误</div>
							<div class="div-App-Monitor-Info-type">端口</div>
							<div class="div-App-Monitor-Info-Detail">端口号：43</div>
						</li>
						<li class="li-App-Monitor-Info">
							<div class="div-App-Monitor-Info-Status div-App-Monitor-Info-Status-Ok">正常</div>
							<div class="div-App-Monitor-Info-type">端口</div>
							<div class="div-App-Monitor-Info-Detail">端口号：80</div>
						</li>
						<li class="li-App-Monitor-Info">
							<div class="div-App-Monitor-Info-Status div-App-Monitor-Info-Status-Ok">正常</div>
							<div class="div-App-Monitor-Info-type">进程</div>
							<div class="div-App-Monitor-Info-Detail">Python 用户：admin</div>
						</li>
						<li class="li-App-Monitor-Info">
							<div class="div-App-Monitor-Info-Status div-App-Monitor-Info-Status-Ok">正常</div>
							<div class="div-App-Monitor-Info-type">进程</div>
							<div class="div-App-Monitor-Info-Detail">Nginx 用户：admin</div>
						</li>
						<li class="li-App-Monitor-Info">
							<div class="div-App-Monitor-Info-Status div-App-Monitor-Info-Status-Ok">正常</div>
							<div class="div-App-Monitor-Info-type">进程</div>
							<div class="div-App-Monitor-Info-Detail">Zabbix Agent 用户：Zabbix</div>
						</li>
						<li class="li-App-Monitor-Info">
							<div class="div-App-Monitor-Info-Status div-App-Monitor-Info-Status-Ok">正常</div>
							<div class="div-App-Monitor-Info-type">进程</div>
							<div class="div-App-Monitor-Info-Detail">Nginx 用户：admin</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="divWindowEquipment" class="div-Window">
		<div id="divWindowEquipmentTitle" class="div-Window-Title">
			<div id="divWindowEquipmentTitleText" class="div-Window-Title-Text">设备详细</div>
			<div id="divWindowEquipmentTitleClose" class="div-Window-Title-Close">╳</div>
		</div>
		<div id="divWindowEquipmentDetail" class="div-Window-Detail">
			<div id="divWindowEquipmentDetailSide" class="div-Window-Detail-Side">
				<div id="divWindowEquipmentDetailSideSearch" class="div-Window-Equipment-Detail-Side-Search">
					<input type="text"  id="inputWindowEquipmentDetailSideSearch" class="input-Window-Equipment-Detail-Side-Search" placeholder="搜索监控设备">
				</div>
				<div id="inputWindowEquipmentDetailSideAll" class="input-Window-Equipment-Detail-Side-All"></div>
				<div id="divWindowEquipmentDetailSideChoose" class="div-Window-Equipment-Detail-Side-Choose">
					<div id="divWindowEquipmentDetailSideChooseAll" class="div-Window-Equipment-Detail-Side-Choose-All">所有设备</div>
					<div id="divWindowEquipmentDetailSideChooseFav" class="div-Window-Equipment-Detail-Side-Choose-Fav">收藏设备</div>
				</div>
				
			</div>
			<div id="divWindowEquipmentDetailMain" class="div-Window-Equipment-Detail-Main">
				<div id="divWindowEquipmentDetailMainTop" class="div-Window-Equipment-Detail-Main-Top">
					<div id="divWindowEquipmentDetailMainTopName" class="div-Window-Equipment-Detail-Main-Top-Name"></div>
					<div id="divWindowEquipmentDetailMainTopIP" class="div-Window-Equipment-Detail-Main-Top-IP"></div>
				</div>
				<div id="divWindowEquipmentDetailMainMiddle" class="div-Window-Equipment-Detail-Main-Middle">
					<div id="divWindowEquipmentBaseInfo" class="div-Window-Equipment-Base-Info div-Window-Equipment-Label-High">基本信息</div>
					<div id="divWindowEquipmentCharts" class="div-Window-Equipment-Charts div-Window-Equipment-Label-Low">自定义图表</div>
					<div id="divWindowEquipmentItem" class="div-Window-Equipment-Item div-Window-Equipment-Label-Low">监控项</div>
					<div id="divWindowEquipmentDisplayArea" class="div-Window-Equipment-Display-Area">
						<div id="divWindowEquipmentDisplayAreaBaseInfo" class="div-Window-Equipment-Display-Area-Content">
							<div id="divEquipmentCMSCharts" class="div-CMS-Charts">
								<div id="divCPUChartLabel" class="div-CPU-Chart-Label green-color">CPU使用率:12%</div>
								<div id="divCPUChart" class="div-CPU-Chart">
									<div id="divCPUChartUseage" class="div-CPU-Chart-Useage green-bg"></div>
								</div>
								<div id="divMemoryChartLabel" class="div-Memory-Chart-Label green-color">内存使用率:22%</div>
								<div id="divMemoryChart" class="div-Memory-Chart">
									<div id="divMemoryChartUseage" class="div-Memory-Chart-Useage green-bg"></div>
								</div>
								<div id="divStorageChartLabel" class="div-Storage-Chart-Label level3-color">磁盘使用率:80%</div>
								<div id="divStorageChart" class="div-Storage-Chart">
									<div id="divStorageChartUseage" class="div-Storage-Chart-Useage level3-bg"></div>
								</div>
							</div>
							<div id="divEquipmentInfo" class="div-Equipment-Info">
								<!-- 
								设备类型:    
								名称:  
								操作系统:  
								序列号:  
								标签:  
								MAC地址:  
								硬件环境:  
								软件环境:  
								联系人:  
								主机位置:  
								备注: 
								 -->
							</div>
							<div id="divEquipmentAlertChart" class="div-Equipment-Alert-Chart"></div>
						</div>
						<div id="divWindowEquipmentDisplayAreaCharts" class="div-Window-Equipment-Display-Area-Content">
							<div id="divWindowEquipmentDisplayAreaChartsMain" class="div-Window-Equipment-Display-Area-Charts-Main"></div>
							<div id="divWindowEquipmentDisplayAreaChartsList" class="div-Window-Equipment-Display-Area-Charts-List"></div>
						</div>
						<div id="divWindowEquipmentDisplayAreaMonitorItem" class="div-Window-Equipment-Display-Area-Content">
							<div  id="divWindowEquipmentDisplayAreaMonitorItemLabel" class="div-Window-Equipment-Display-Area-Monitor-Item-Label">
							</div>
							<div  id="divWindowEquipmentDisplayAreaMonitorItemChart" class="div-Window-Equipment-Display-Area-Monitor-Item-Chart">
							</div>
						</div>
					</div>
				</div>
				<div id="divWindowEquipmentDetailMainBottom" class="div-Window-Equipment-Detail-Main-Bottom"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{{static_root}}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{static_root}}/js/highcharts-all.js"></script>
	<script type="text/javascript" src="{{static_root}}/js/icheck.min.js"></script>
	<script type="text/javascript" src="{{static_root}}/js/index.js"></script>
</body>
</html>